.price-slider-container {
    width: 200px;
    position: relative;
    padding: 0 0;
  }
  
  .slider {
    -webkit-appearance: none;
    appearance: none;
    margin-left: 20px;
    width: 200px;
    height: 8px;
    background: #cfc5c5;
    outline: none;
    position: absolute;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    background: rgb(17, 132, 171); /* Green color */
    cursor: pointer;
    border-radius: 50%; /* Circular thumb */
    border: 2px solid #333; /* Dark border */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    position: relative;
    z-index: 2;
    transition: all;
    transition-duration: 0.5s;
  }
  
  .slider-values {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    font-size: large;
  }

  